*.iml
.gradle
/local.properties
*.keystore
*.jks
*.apk
*.ap_
*.so
.env
.DS_Store
/build
/captures
.gradle
.idea
.cxx
.externalNativeBuild
firebaseServiceAccountKey.json
**/secrets.properties
**/apikeys.properties
**/api_keys.json
**/config.properties
**/api_config.json
**/api_config.yaml
**/api_config.properties
**/google-services.json
**/google-services.yaml
**/app/google-services.json
**/app/google-services.yaml
**/app/src/**/google-services.json
**/app/src/**/google-services.yaml

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/package-lock.json
/package.json
/.dyanimic-matau-backend/firebaseServiceAccountKey.json
/.env
/g